* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f2027;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.loader {
    display: flex;
    gap: 5px;
}

.loader span {
    font-size: 32px;
    font-weight: bold;
    color: #4db8ff;
    animation: wave 1.5s infinite ease-in-out;
}

.loader span:nth-child(2) {
    animation-delay: 0.1s;
}

.loader span:nth-child(3) {
    animation-delay: 0.2s;
}

.loader span:nth-child(4) {
    animation-delay: 0.3s;
}

.loader span:nth-child(5) {
    animation-delay: 0.4s;
}

.loader span:nth-child(6) {
    animation-delay: 0.5s;
}

.loader span:nth-child(7) {
    animation-delay: 0.6s;
}

.loader span:nth-child(8) {
    animation-delay: 0.7s;
}

.loader span:nth-child(9) {
    animation-delay: 0.8s;
}

.loader span:nth-child(10) {
    animation-delay: 0.9s;
}

@keyframes wave {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}